pipeline/pl_search_dynamic_keyword_json.json
{
	"name": "pl_search_dynamic_keyword_json",
	"properties": {
		"activities": [
			{
				"name": "source_metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "filetype_filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "source_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('source_metadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,pipeline().parameters.file_type)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "filter_size",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "filetype_filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('filetype_filter').output.FilteredItemsCount,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "failed bec of no file size",
								"errorCode": "100"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "child_pl",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"files": {
										"value": "@variables('files_csv')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "files_csv",
								"value": {
									"value": "@activity('filetype_filter').output.Value",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"keyword": {
				"type": "string"
			},
			"file_type": {
				"type": "string"
			}
		},
		"variables": {
			"files_csv": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}