pipeline/pl_search_dynamic_keyword_json.json
{
	"name": "pl_search_dynamic_keyword_json",
	"properties": {
		"activities": [
			{
				"name": "source_metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_CSV_file",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"isSequential": true
				}
			},
			{
				"name": "filetype_filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "source_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('source_metadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,pipeline().parameters.file_type)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "filter_size",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "filetype_filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			}
		],
		"parameters": {
			"keyword": {
				"type": "string"
			},
			"file_type": {
				"type": "string"
			}
		},
		"variables": {
			"found": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}